.multibasket {
    width: 100%;
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.multibasket__no-fixed {
    height: 100%;
}

.multibasket .tool-tip {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    padding: .75rem;
    border-radius: .5rem;
    background-color: var(--white-100);
    color: var(--black-100);
    z-index: 1001;
    box-shadow: var(--box-shadow);
    transform: translate(0px, 0px);
}

.b2b_multibasket {
    display: flex;
    flex-direction: row-reverse;
}

.multibasket__fixed {
    position: fixed;
    width: 42px;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    z-index: 1000;
}

.multibasket_fixed_left {
    left: 0px;
}

.multibasket_fixed_right {
    right: 0px;
}

.multibasket_fixed_hcenter {
    left: calc(50% - 24px);
}

.multibasket_fixed_top {
    top: 0px;
}

.multibasket_fixed_bottom {
    bottom: 0px;
}

.multibasket_fixed_vcenter {
    top: calc(50% - 24px);
}

.multibasket .multibasket__wrapper {
    position: relative;
}

.multibasket .multibasket__otherbasket_wraper {
    position: absolute;
    display: none;
    width: 275%;
    margin-left: -190%;
    padding-block: .5rem;
    background-color: var(--white-100);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-lg);
    overflow: hidden;
    z-index: 1000;
}

.multibasket__otherbasket_wraper .multibasket__add-item {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-inline: 1rem;
    color: var(--black-100);
}

.multibasket .otherbasket_wraper_active {
    display: block;
}

.multibasket__otherbasket_wraper .multibasket__item,
.multibasket__current-name-color-wrapper {
    display: flex;
    padding: .5rem 1rem;
    color: var(--white-100);
    background-color: var(--white-100);
    justify-content: start;
    align-items: center;
    transition: background ease-in-out var(--transition-base-timer);
}


.multibasket__otherbasket_wraper .multibasket__item:hover,
.multibasket__current-name-color-wrapper:hover {
    background: var(--secondary);
    color: var(--white-100);
}

.multibasket__otherbasket_wraper .multibasket__color {
    flex: 0 0 2rem;
    height: 2rem;
    border-radius: var(--border-radius);
    margin-right: .5rem;
}

.multibasket__otherbasket_wraper .multibasket__color i {
    font-size: 1.2rem;
}

.multibasket .multibasket__current-name {
    background-color: inherit;
    color: var(--black-100);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex: 0 0 50%;
}

.multibasket__otherbasket_wraper .multibasket__name {
    flex-grow: 1;
    font-size: inherit;
    color: var(--black-100);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


.multibasket .multibasket__current-quantity {
    width: 2.875rem;
    position: relative;
    color: var(--white-100);
    margin: auto;
}

.multibasket .multibasket__current-arrow i {
    font-size: 1rem;
    transition: all ease-in-out var(--transition-base-timer);
}

.multibasket .multibasket__current-arrow__show i {
    transform: rotateX(180deg);
}

.multibasket .multibasket__current-quantity__value {
    background-color: var(--primary);
    top: -.625rem;
}

.multibasket .multibasket__remove,
.multibasket .multibasket__edit {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    color: var(--black-100);
}

.multibasket .multibasket__edit:hover,
.multibasket .multibasket__remove:hover {
    color: var(--primary);
}

.multibasket .multibasket__make-carrent:hover {
    height: 51px;
}

.multibasket .multibasket__modal {
    display: none;
}

.multibasket .multibasket__edit-form {
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: var(--white-100);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 1;
    width: 100%;
    max-width: 27.625rem;
    border-radius: var(--border-radius-lg);
    transform: translate(-50%, -50%);
}

.multibasket .multibasket__modal__active {
    display: block;
    z-index: 1050;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.42);
}

.multibasket .modal__content {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 1rem 0;
    gap: .5rem;
}

.multibasket .modal__content-item {
    position: relative;
    flex: 0 0 calc(25% - .375rem);
    height: 48px;
    border-radius: var(--border-radius-lg);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid var(--white-100);
    transition: all ease-in-out var(--transition-base-timer);
}

.multibasket .modal__content-item-selected {
    display: none;
    position: absolute;
    height: 2px;
    background: var(--grey-500);
    width: 110%;
    transform: rotate(26deg);
}


.multibasket .modal__active:hover {
    outline: 1px solid var(--primary);
}

.multibasket .modal__content-item__edge-left {
    margin-left: 0px;
}

.multibasket .modal__content-item__edge-right {
    margin-right: 0px;
}

.multibasket .modal__content-item-checbox {
    width: 40px;
    height: 29px;
    border-radius: 4px;
    background:rgba(129, 129, 129, 0.63);
    display: none;
    justify-content: center;
    align-items: center;
}

.multibasket .multibasket__modal-btn-groupe {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 1rem;
    gap: .5rem;
}

.multibasket .multibasket__total-price {
    white-space: nowrap;
    font-size: inherit;
    padding: 3px;
    padding-left: 3.5rem;
    background-color: var(--white-100);
    color: var(--black-100);
}

.multibasket .btn-to-offer-page {
    height: 36px;
    width: auto;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    background-color: #2a3140;
    color: var(--white-100);
    text-align: center;
    text-decoration: none;
}

.multibasket .btn-to-offer-page::after {
    display: block;
    height: 200px;
}

.multibasket .multibasket__products-header {
    margin: 0 10px 20px;
    padding: 3px;
    border-radius: 3px;
    background: #ebebeb;
    text-align: center;
    white-space: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
}

.multibasket .multibasket__products-item {
    margin-top: 5px;
    margin-bottom: 25px;
}

.multibasket .multibasket__products {
    overflow-y: hidden;
    height: auto;
}

.multibasket .multibasket__products-list {
    overflow-y: auto;
    height: auto;
    max-height: 65vh;
}

.multibasket .multibasket__products_height {
    height: 65vh;
}

.multibasket .multibasket__products-picture-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 3px;
}

.multibasket .multibasket__products-delete-product {
    position: absolute;
    top: -15px;
    right: 5%;
    cursor: pointer;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 7px;
    padding-right: 7px;
    border: 1px solid var(--white-100);
}

.multibasket .multibasket__products-delete-product:hover {
    border-color: #dedede;
}

.multibasket .multibasket__products-name {
    font-size: 13px;
    line-height: 16px;
}

.multibasket .multibasket__products-price {
    color: #2a3140;
    font-size: 13px;
    line-height: 16px;
}

.multibasket .multibasket__products-price span {
    color: #b0b0b0;
    text-decoration: line-through;
}

.multibasket .multibasket__products-total {
    font-size: 13px;
    line-height: 16px;
    color: #2a3140;
}

.multibasket .btn_show_list {
    margin-top: 5px;
    z-index: 120;
    padding: 3px 0;
    height: 20px;
    background: #f7f7f7;
    color: #4f4f4f;
    vertical-align: middle;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    cursor: pointer;
}

.multibasket .multibasket__notification {
    color: var(--white-100);
    padding: 16px 0px 16px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.multibasket .multibasket__notification_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    position: fixed;
    opacity: 0;
    background-color: #25b372;
    border-radius: 8px;
    color: #222;
    text-align: center;
    top: 10%;
    right: 2%;
    z-index: 1000;
    transition: 1s;
    border: 1px solid #E9F1F5;
    width: auto;
    min-width: 300px;
}

.multibasket__notification_wrapper .icon {
    background-color:rgba(0, 0, 0, 0.2);
    flex: 0 0 60px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.multibasket .notification__show {
    opacity: 1;
}

.multibasket .multibasket__modal__name_wrapper {
    margin: 1rem 1rem 0
}

.b2b-notifications__list .multibasket__notification span > span:first-child,
.b2b-notifications__list .multibasket__notification span > span:last-child {
    color: transparent!important;
}